.header {
    background-color: teal;

    .logo {
        width: 200px;
        padding: .5rem;
    }

    .nav {
        position: fixed;
        top: 55px;
        right: 10px;
    }

    .menu__mobile {
        position: fixed;
        top: 2px;
        right: 10px;
        width: 50px;
        cursor: pointer;
    }

    .nav__itens {
        display: none;
        flex-direction: column;
    }

    .nav__itens.show {
        display: flex;
    }



    .nav__link {
        padding: 1rem;
        background-color: wheat;
    }





}