.header {
    background-color: $cor-header;

    .logo {
        width: 200px;
        padding: .5rem;
    }

    .nav {
        position: fixed;
        top: 55px;
        right: 0px;
    }

    .menu__mobile {
        position: fixed;
        top: 2px;
        right: 10px;
        width: 50px;
        cursor: pointer;
    }

    .nav__itens {
        display: none;
        flex-direction: column;
        background-color: $cor-header;
    }

    .nav__itens.show {
        display: flex;
    }



    .nav__link {
        padding: 1rem;
    }

    .nav__item {
        font-family: $fonte-menu;
        font-weight: bold;
        font-size: 1.2rem;
    }





}