.moda__feminina__box {
    display: grid;
    grid-template-columns: 150px 1fr;

    .moda__feminina__menu {
        display: flex;
        flex-direction: column;
        background-color: cornflowerblue;

        .menu__link {
            display: flex;
            gap: .3rem;
            align-items: center;
            padding: .5rem;
            cursor: pointer;
        }
        
        .img__icone__menu {
            width: 30px;
        } 
    }


    .moda__feminina__container {

        .moda__fem__cabecalho {
            text-align: center;
        }

        .moda__feminina {
            font-family: $fonte-titulo;
            
        }

        .titulo__blusa {
            font-family: $fonte-titulo;   
        }
    }

    /********* CARDS BLUSAS *********/

    .moda__fem__cards__blusas {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        padding: .5rem;

        .moda__fem__card1 {
            width: 220px;
            box-shadow: 2px 2px 2px 2px rgba(175, 162, 162, 0.6);
        }

        .img__card__calcado {
            display: flex;
            margin: 0 auto;
            width: 120px;
        }

    }

    .moda__card__info {
        
        .moda__card__nome {
            font-family: $fonte-corpo;
            font-weight: bold;
            text-align: center;
            margin-bottom: 1rem;
        }

        .moda__card__preco {
            font-family: $fonte-corpo;
            font-weight: bold;
            text-align: center;
        }

        .moda__card__parcela {
            font-family: $fonte-corpo;
            font-weight: bold;
            text-align: center;
            margin-bottom: 1rem;
        }
    }

    .moda__card__botoes {
        display: flex;
        justify-content: center;
        gap: .5rem;
        padding: .5rem;
        


        .btn__detalhes {
            font-family: $fonte-corpo;
            font-weight: bold;
            padding: .5rem;
            background: $cor-sectionFem;
            border-top-right-radius: 20%;
            color: #fff;
            cursor: pointer;

        }

        .btn__contato {
            font-family: $fonte-corpo;
            font-weight: bold;
            padding: .5rem;
            background-color: $cor-links;
            color: #fff;
            border-top-right-radius: 20%;
            cursor: pointer;
        }
    }
    
}

/********* MODAL BLUSAS *********/
.modal__fem__blusas {
    margin-top: 4rem;
}

.tenis {
    width: 200px;
}





/********* SWIPER JS *********/
    .swiper {
        width: 300px;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

//   .swiper-slide img {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }


