.moda__feminina__box {
    display: grid;
    grid-template-columns: 150px 1fr;

    .moda__feminina__menu {
        display: flex;
        flex-direction: column;
        background-color: cornflowerblue;

        .menu__link {
            display: flex;
            gap: .3rem;
            align-items: center;
            padding: .5rem;
            cursor: pointer;
        }
        
        .img__icone__menu {
            width: 30px;
        } 
    }


    .moda__feminina__container {

        .moda__fem__cabecalho {
            text-align: center;
        }

        .moda__feminina {
            font-family: $fonte-titulo;
            
        }

        .titulo__blusa {
            font-family: $fonte-titulo;   
        }
    }

    
}


