.moda__feminina__box {
    position: relative;

    .moda__feminina__menu {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        position: absolute;
        top: 10px;
        left: 5px;
        width: 150px;
        height: 100vh;
        background-color: cornflowerblue;
    }

    .menu__link {
        display: flex;
        gap: .3rem;
        align-items: center;
        padding: .5rem;
        width: 100px;
        cursor: pointer;
    }
    
    .img__icone__menu {
        width: 30px;
    }

    .moda__feminina__cards {
        position: absolute;
        left: 200px;
        background-color: darkseagreen;
    }
}


