/********** VARIÁVEIS **********/
$fonte-titulo: 'Josefin Sans', sans-serif;
$fonte-corpo: 'Raleway', sans-serif;
$fonte-menu: 'Abel', sans-serif;
$cor-sectionFem: #943892;
$cor-sectionMasc: #028090;
$cor-header: #FF7E6B;
$cor-links: #3C3E3D;



/********** CONFIGURAÇÕES **********/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul, li {
    list-style: none;
}

image {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

/********** MIXINS **********/



/********** PÁGINA **********/
@import "header.scss";
@import "moda-feminina.scss";