/********** VARIÁVEIS **********/

/********** CONFIGURAÇÕES **********/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul, li {
    list-style: none;
}

image {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

/********** MIXINS **********/



/********** PÁGINA **********/
@import "header.scss";
@import "moda-feminina.scss";